---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Construccion | MangoBC">
    <div class="flex h-[100vh] w-full bg-primary overflow-hidden">
        <section
            class="flex flex-col flex-wrap justify-center w-full items-center"
        >
            <img
                class="w-1/2"
                src="/images/proximamente.gif"
                alt="coming soon"
            />
        </section>
    </>
</Layout>
