---
import Layout from '../layouts/Layout.astro';
import HeaderSection from '../components/HeaderSection.astro';
import BrandSection from '../components/sections/BrandSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
---

<Layout title="Home | MangoBC">
	<main>
		<HeaderSection />
		<BrandSection />
		<ContactSection />
	</main>
</Layout>
