---
import Layout from '../layouts/Layout.astro'
import HeaderSection from '../components/HeaderSection.astro';
import BrandSection from '../components/BrandSection.astro';
---

<Layout title="Home | MangoBC">
	<main>
		<HeaderSection/>
		<BrandSection/>
	</main>
</Layout>
