.parallax {
    /* The image used */
    background-image: url("images/industrial/parallax.webp");

    /* Set a specific height */
    min-height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax2 {
    /* The image used */
    background-image: url("images/institucional/parallax.webp");

    /* Set a specific height */
    min-height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn_pulse {
    width: 40%;
    border-radius: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #facb22;
    font-weight: bold;
    box-shadow: 0 0 0 0 #FACB22;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #FACB22;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}